{% extends 'base.html.twig' %}

{% block title %}Data index{% endblock %}

{% block body %}
    <h1>Météo Symfony</h1>
    <div class="row">
        {% for data in data %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        {% if data.ww >= 0 and data.ww < 20 %}
                            <img class="pycto" src="{{ asset('png/sunny.png') }}"/>
                        {% elseif data.ww > 20 and data.ww < 29 %}
                            <img class="pycto" src="{{ asset('png/clouds-and-sun.png') }}"/>
                        {% elseif data.ww > 30 and data.ww < 39 %}
                            <img class="pycto" src="{{ asset('png/weather-1.png') }}"/>
                        {% elseif data.ww > 40 and data.ww < 49 %}
                            <img class="pycto" src="{{ asset('png/morning-snow.png') }}"/>
                        {% elseif data.ww > 50 and data.ww < 59 %}
                            <img class="pycto" src="{{ asset('png/tide-1.png') }}"/>
                        {% elseif data.ww > 60 and data.ww < 69 %}
                            <img class="pycto" src="{{ asset('png/raining.png') }}"/>
                        {% elseif data.ww > 70 and data.ww < 79 %}
                            <img class="pycto" src="{{ asset('png/summer-rain.png') }}"/>
                        {% elseif data.ww > 80 and data.ww < 94 %}
                            <img class="pycto" src="{{ asset('png/storm-2.png') }}"/>
                        {% elseif data.ww > 95 and data.ww < 99 %}
                            <img class="pycto" src="{{ asset('png/temperature.png') }}"/>
                        {% endif %}
                    </div>
                    <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{ stations[data.numerSta] }}<i
                            class="material-icons right">more_vert</i></span>
                        <p>Pour la date du {{ data.date |slice(6, 2) }}/{{ data.date |slice(4, 2) }}/{{ data.date |slice(0, 4) }}
                            à {{ data.date |slice(8, 2) }}h</p>
                        <p>température: {{ data.t - 273.15 }}°C</p>
                    </div>
                    <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{ stations[data.numerSta] }}<i
                            class="material-icons right">close</i></span>
                        <p>Direction du vent: {{ data.dd }}°</p>
                        <p>Vitesse du vent: {{ data.ff }}m/s</p>
                        <p>Humidité: {{ data.u }}%</p>
                        <p>Temps: {{ data.ww }}</p>
                        <p><a href="{{ path('data_show', {'id': data.id}) }}">show</a></p>
                        <p><a href="{{ path('data_edit', {'id': data.id}) }}">edit</a></p>
                    </div>
                </div>
            </div>

        {% else %}
            <p>no records found</p>
        {% endfor %}
    </div>
    <p><a href="{{ path('data_new') }}">Create new</a></p>
{% endblock %}


